/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

#plugin-tooltip {
  position: absolute;
  z-index: 1000;
  display: none;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  max-width: 200px;
  word-wrap: break-word;
  transition: opacity 0.3s;
}
